@font-face {
  font-family: "circular bold";
  src: url("fonts/circular-bold.woff2");
}

body {
    background: #ca9855;
    font-family: "circular bold";
    color: #efefefbf;
}

.container {
    max-width:1100px;
    width:100%;
    margin: 0 auto;
    flex: 1 100%;
    display: flex;
    flex-direction: column;
}

.row {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: stretch;
    display: flex;
    align-items: stretch;
    }

.item {
    width:50%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}


.card {
    margin: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px 7px #00000038;
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

.card article {
    margin-top: auto;
}

img {

    width:100%;

}

a {
   color: #efefefbf; 
}

h1 {
    font-size: 5em;
    text-align: center;
}